---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Sobre mí";

const identity = {
  firstName: "Duban Miguel Páez",
  country: "Alemania",
  occupation: "desempleado",
  hobbies: ["leer", "montar largos trayectos en bicicleta", "videojuegos"],
};

const skills = ["HTML", "CSS", "JavaScript", "Python", "Astro"];

const status = true;
const secondStatus = false;

const skillColor = "white";
const fontWeight = "bold";
const textCase = "uppercase";
---

<BaseLayout pageTitle={pageTitle}>
  <style define:vars={{ skillColor, fontWeight, textCase }}>
    /* pasa el parametro de una variable declarada en 
    frontmatter */
    .skill {
      color: var(--skillColor); /* llama a la variable */
      font-weight: var(--fontWeight); /* llama a la variable */
      text-transform: var(--textCase); /* llama a la variable */
    }
  </style>

  <p>
      Here I am, after a lot of procrastination, frustration, attempts, and
      disappointments (though not romantic ones), diving into what has been, up
      until now, my unfulfilled dream of becoming a programmer. I’ve decided to
      create this personal blog to document my progress in the world of IT and,
      perhaps, to share a bit of my personal side as well. In addition, I want
      to share with you, dear reader, that while my frustration may not be
      greater than my determination, I promise, with complete confidence, that I
      will achieve my goal of working in what I truly love.
  </p>

  <p>
    "La vida es una comedia para quienes piensan y una tragedia para quienes
    sienten"
  </p>
  <p>
    Maybe the translation is: Life is a comedy for those who think and a tragedy
    for those who feel.
  </p>
  <p>He aquí algunos datos sobre mí:</p>
  <ul>
    <li>Me llamo {identity.firstName}.</li>
    <li>
      Vivo en {identity.country}
      {secondStatus && <span> y soy</span>}
      {status && <span> y estoy</span>}
      {identity.occupation}.
    </li>
    {
      identity.hobbies.length >= 2 && (
        <li>
          Dos de mis aficiones son: {identity.hobbies[0]} y{" "}
          {identity.hobbies[1]}
        </li>
      )
    }
  </ul>
<p>Mis habilidades son:</p>
  <ul>
    {skills.map((skill) => <li class="skill">{skill}</li>)}
  </ul>
</BaseLayout>
